.capa-area {
  background-color: rgba(2, 42, 117, 0.678);
  padding-top: 200px;
  padding-bottom: 100px;
  margin-bottom: 0;

  .capaBlocks {
    display: flex;
    justify-content: center;
    font-family: "MicroSquare";

    .cBlock {
      display: flex;
      margin: 0 20px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      min-width: 350px;

      img {
        width: 60px;
      }

      h4 {
        margin-top: 15px;
        font-size: 2.3em;
        color: white;
      }

      ul {
        margin-top: -10px;
        text-align: left;
        margin-left: -50px;
        li {
          color: white;
          font-family: "Exo";
          margin: 6px;
          font-weight: bold;
          letter-spacing: 1px;

          ul {
            margin-left: -15px;
            margin-top: 8px;
            li {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}
