@import url("https://fonts.googleapis.com/css?family=Exo+2:600,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo&display=swap");

.home {
  height: 100vh;

  .bannerBlock {
    position: absolute;
    background-color: rgba(81, 115, 155, 0.8);
    width: 45%;
    top: 0;
    margin: 0;
    padding: 0;
    height: 120%;

    .banner {
      width: 60%;
      margin-top: 120px;
      display: flex;
      margin-left: 150px;
      flex-direction: column;

      h2 {
        font-family: Exo;
        letter-spacing: 1px;
        font-weight: 1000;
        color: rgba(255, 255, 255, 0.89);
      }

      button {
        background-color: rgb(142, 86, 58);
        font-family: exo;
        cursor: pointer;
        letter-spacing: 1px;
        font-weight: 400;
        border-color: rgba(255, 255, 255, 0);
        margin: 0px;
        border-radius: 0px;
        padding: 11px 27px;
        color: rgb(255, 255, 255);
        transition: 0.5s;
        outline: none;
        margin-top: -35px;
      }

      button:hover {
        background-color: rgb(165, 101, 69);
        transition: 0.5s;
        border-color: rgba(255, 255, 255, 0.103);
      }

      p {
        font-family: exo;
        line-height: 23px;
        letter-spacing: 0px;
        font-weight: 500;
        font-size: 16px;
        color: rgb(220, 234, 244);
      }
    }
  }
}
