@import url('https://fonts.googleapis.com/css?family=Exo+2:600,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');


.bannerBlock {
  position: absolute;
  background-color: rgba(81, 115, 155, 0.8);
  z-index: 1;
  width: 50%;
  height: 100%;
  -webkit-animation: appear 1s;
  animation: appear 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes appear {
  0% { left: 500px; opacity: 0; }
  100% { left: 0; opacity: 1; }  
}

@keyframes appear {
  0% { left: 500px; opacity: 0; }
  100% { left: 0; opacity: 1; }  
}

.navbar {
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 100%;
    z-index: 1;
    height: 140px;
    margin-left: 30px;
    font-family: 'Exo 2', sans-serif;

  }

.navbar img {
  width: 185px;
}

/* fixed navbar */
  /* .navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d4d7de;
    width: 100%;
    z-index: 1;
    height: 70px;
    border: solid red 2px;
    margin-top: 0;
  } */
  
.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
  font-size: 1em;
  width: 100%;
  margin-top: -4px; 
}

@media (max-width: 1000px) {
  .nav {
    display: none;
  }
}

.bannerText {
  position: absolute;
  left: 12%;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  display: inline-block;
  width: 1000px;
  z-index: 7;
  font-family: 'Exo', sans-serif;
  letter-spacing: 4px;
  font-weight: 300;
  font-size: 6.7em;
  color: rgb(255, 255, 255);
  transition: 1s;
  line-height: 110px;
  margin: 0;
}

.bannerText button {
    background-color: rgb(142, 86, 58);
    font-family: 'Exo', sans-serif;
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    letter-spacing: 2px;
    font-size: 1.2em;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.842);
    width: 250px;
    padding: 10px;
    margin-top: 75px;
    transition: 1s;
}

p {
  display: inline-block;
  width: 500px;
  font-family: 'Exo', sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 1em;
  color: white;
  line-height: 30px;
  margin-top: 30px;
  transition: 1s;

}

@media (max-width: 1000px) {
  .bannerText {
    top: 22%;
  }

  .bannerText h2 {
    font-size: 4em;
    transition: 1s;
    line-height: 60px;
  }

  .bannerText button {
    margin-top: 15px;
    width: 200px;
    font-size: 1em;
    transition: 1s;
  }

  .bannerText p {
    font-size: 0.8em;
    width: 400px;
    transition: 1s;
    margin-top: 15px;
  }
}
  
  .logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    margin: 5px;
    position: relative;
    display: inline-block;
  }
  
  a:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 1px;
    background: rgba(255, 255, 255, 0.664);
    transition: all 0.2s linear;
    width: 0;
    bottom: -3px;
  }

  a:hover:after {
    width: 100%;
    left: 0px;
  }
  