.indi-area {
  background-color: #f7f7f7;
  margin-top: 0;
  padding-top: 100px;
  padding-bottom: 20px;
  border-top: solid 8px rgb(209, 121, 77);
  border-bottom: solid 8px rgb(209, 121, 77);

  .mainIndi {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;

    img {
      width: 450px;
    }
    .indiText {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 55px;

      h1 {
        margin: 0;
        font-family: "Exo 2", Arial, Tahoma, sans-serif;
        color: #6383aa;
        font-size: 43px;
        line-height: 51px;
        letter-spacing: 0px;
        font-weight: 400;
      }

      h4 {
        color: #2c2c2cc4;
        font-size: 1.3em;
        font-family: "MicroSquare";
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 30px;
      }

      .listAndMan {
        display: flex;

        .manual {
          width: 300px;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 5px;
          margin-left: 70px;
          margin-top: 120px;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("https://themes.muffingroup.com/be/factory2/wp-content/uploads/2019/06/factory2-about-columnbg1.jpg");
          box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
          transition: 0.5s;
          border: solid 3px rgb(202, 133, 99);

          a {
            font-size: 20px;
            line-height: 60px;
            font-weight: 400;
            letter-spacing: 0px;
            color: #ffffff;
            font-family: "Exo 2", Arial, Tahoma, sans-serif;
            text-decoration: none;
            transition: 0.5s;

            i {
              transition: 0.5s;
            }
          }

          a:hover {
            font-size: 21px;
            transition: 0.5s;
            i {
              transform: translateX(50%);
              transition: 0.5s;
            }
          }
        }

        ul {
          color: #2c2c2c;
          font-size: 1.5em;
          font-family: "MicroSquare";
          font-weight: bold;
          margin-left: 45px;
          line-height: 30px;
        }
      }
    }
  }
}
