@import url('https://fonts.googleapis.com/css?family=Exo+2:600,800&display=swap');

.bannerBlock {
    background-color: rgba(81, 115, 155, 0.8);
    z-index: 1;
    width: 50%;
    height: 100%;
    position: absolute;
}

.navbar {
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 100%;
    z-index: 1;
    height: 140px;
    margin-top: 0;
    margin-left: 35px;
    font-family: 'Exo 2', sans-serif;

  }

.navbar img {
  width: 185px;
}

/* fixed navbar */
  /* .navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d4d7de;
    width: 100%;
    z-index: 1;
    height: 70px;
    border: solid red 2px;
    margin-top: 0;
  } */
  
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    font-size: 1em;
    width: 100%;
  }

  @media (max-width: 1200px) {
    .nav {
      display: none;
    }
  }
  
  .logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    margin: 5px;
    position: relative;
    display: inline-block;
  }
  
  a:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 1px;
    background: rgba(255, 255, 255, 0.664);
    transition: all 0.2s linear;
    width: 0;
    bottom: -3px;
  }

  a:hover:after {
    width: 100%;
    left: 0px;
  }
  