.navBarHome {
  margin: 0 auto;
  width: 100%;
  top: 0;
  z-index: 3;
  font-family: "MicroSquare";
  display: flex;
  position: relative;
  background: none;
  height: 90px;
  align-items: center;
  padding-top: 25px;
  transition: 0.5s;

  img {
    width: 200px;
    margin-left: 50px;
  }

  .links {
    margin-left: 50px;
    width: 80%;

    a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      letter-spacing: 2px;
      padding: 10px;
      margin: 10px 20px;
      position: relative;
      display: inline-block;
      font-size: 1.1em;
      transition: 0.5s;
      font-weight: bold;
    }

    a:after {
      position: absolute;
      left: 50%;
      content: "";
      height: 1px;
      background: rgba(255, 255, 255, 0.801);
      transition: all 0.2s linear;
      width: 0;
      bottom: -3px;
    }

    a:hover:after {
      width: 100%;
      left: 0px;
    }
  }

  #contactButton {
    background-color: rgba(81, 116, 155, 0.979);
    color: white;
    font-family: "MicroSquare";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border: none;
    font-size: 1.1em;
    transition: 0.5s;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-right: 50px;
    cursor: pointer;
    outline: none;
    text-decoration: none;

    i {
      padding: 5px;
      transition: 0.5s;
    }
  }

  #contactButton:hover {
    transition: 0.5s;
    background-color: rgba(31, 91, 160, 0.849);

    i {
      transition: 0.5s;
      transform: translateX(20%);
    }
  }
}

.movingNav {
  background: #202024;
  transition: 0.5s;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  top: 0;
  z-index: 3;
  font-family: "MicroSquare";
  display: flex;
  height: 45px;
  align-items: center;
  padding: 5px;

  img {
    width: 100px;
  }

  .links {
    margin-left: 50px;
    width: 80%;

    a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      letter-spacing: 2px;
      padding: 10px;
      margin: 10px 20px;
      position: relative;
      display: inline-block;
      font-size: 0.9em;
      transition: 0.5s;
      font-weight: bold;
    }

    a:after {
      position: absolute;
      left: 50%;
      content: "";
      height: 1px;
      background: rgba(255, 255, 255, 0.801);
      transition: all 0.2s linear;
      width: 0;
      bottom: -3px;
    }

    a:hover:after {
      width: 100%;
      left: 0px;
    }
  }

  #contactButton {
    background-color: rgba(81, 116, 155, 0.979);
    color: white;
    font-family: "MicroSquare";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border: none;
    font-size: 0.9em;
    transition: 0.5s;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-right: 50px;
    cursor: pointer;
    outline: none;
    text-decoration: none;

    i {
      padding: 5px;
      transition: 0.5s;
    }
  }

  #contactButton:hover {
    transition: 0.5s;
    background-color: rgba(31, 91, 160, 0.849);

    i {
      transition: 0.5s;
      transform: translateX(20%);
    }
  }

  button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 30px;

    i {
      color: white;
      font-size: 2.3em;
    }
  }
}

.mobileLanNav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  width: 200px;
  right: 0;
  top: 0;
  background-color: #191919;
  transition: 0.5s;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    #contactButton {
      width: 60%;
      margin: 35px auto;
    }

    a {
      color: rgba(255, 255, 255, 0.637);
      border-bottom: 1px solid rgba(207, 204, 204, 0.15);
      width: 100%;
      padding-right: 25px;
      text-decoration: none;
      letter-spacing: 1px;
      padding: 25px;
    }

    a:hover {
      color: white;
    }
  }
}
