.navBarHome {
  margin: 0 auto;
  width: 100%;
  top: 0;
  z-index: 3;
  font-family: "MicroSquare";
  display: flex;
  position: relative;
  background: none;
  height: 90px;
  align-items: center;
  padding-top: 25px;

  img {
    width: 200px;
    margin-left: 50px;
  }

  .links {
    margin-left: 50px;
    width: 80%;

    a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      letter-spacing: 2px;
      padding: 10px;
      margin: 10px 20px;
      position: relative;
      display: inline-block;
      font-size: 1.1em;
      transition: 0.5s;
      font-weight: bold;
    }

    a:after {
      position: absolute;
      left: 50%;
      content: "";
      height: 1px;
      background: rgba(255, 255, 255, 0.801);
      transition: all 0.2s linear;
      width: 0;
      bottom: -3px;
    }

    a:hover:after {
      width: 100%;
      left: 0px;
    }
  }

  #contactButton {
    background-color: rgba(81, 116, 155, 0.979);
    color: white;
    font-family: "MicroSquare";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border: none;
    font-size: 1.1em;
    transition: 0.5s;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-right: 50px;
    cursor: pointer;
    outline: none;
    text-decoration: none;

    i {
      padding: 5px;
      transition: 0.5s;
    }
  }

  #contactButton:hover {
    transition: 0.5s;
    background-color: rgba(31, 91, 160, 0.849);

    i {
      transition: 0.5s;
      transform: translateX(20%);
    }
  }
}

.movingNav {
  background: rgba(255, 255, 255, 0.966);
  transition: 0.5s;

  .links {
    display: flex;
    margin-bottom: 8px;

    a {
      color: rgba(8, 102, 179, 0.842);
      background-color: none;
      transition: 0.5s;
    }

    a:hover {
      color: white;
      background-color: rgba(13, 141, 51, 0.637);
      border-radius: 5px;
    }
  }
}
