body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #d4d7de;
  width: 100%;
  z-index: 1;
  height: 70px;
}

.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
}

.logo {
  flex: 1 1 auto;
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
}

a {
  margin: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #000;
}

.banner-area {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1539923779676-1a9bddf986db?ixlib=rb-1.2.1&w=1000&q=80');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.about-area, .port-area, .service-area, .contact-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 700px;
  background-color: lightgreen;
}

.text-part {
  width: 65%;
 
}

html {
  scroll-behavior: smooth;
}